body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/desert.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bangers', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Bangers';
    src: url('fonts/Bangers.ttf') format('truetype');
}


canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
}

h1 {
    margin-top: 150px;
    font-size: 36px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.game-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    
}

.intro-container {
    position: relative;
}

#startBtn {
    position: absolute;
    top: 417px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #A0220A;
    border-radius: 10px;
    color: #FFCC19;
}

#restartBtn2 {
    display: block;
    position: absolute;
    left: 32%;
    bottom: 2px;
    transform: translateX(-50%);
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #A0220A;
    border-radius: 10px;
    color: #FFCC19;
}

#homePage {
    display: block;
    position: absolute;
    left: 60%;
    bottom: 2px;
    transform: translateX(-50%);
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #A0220A;
    border-radius: 10px;
    color: #FFCC19;
}

.hidden {
    display: none;
}

#storyContainer,
#howToPlay,
#impressumContainer,
#privacyContainer {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #A0220A;
    border-radius: 10px;
    color: #FFCC19;
}

#storyContainer::-webkit-scrollbar,
#howToPlay::-webkit-scrollbar,
#impressumContainer::-webkit-scrollbar,
#privacyContainer::-webkit-scrollbar {
    width: 10px;
}

#storyContainer::-webkit-scrollbar-thumb,
#howToPlay::-webkit-scrollbar-thumb,
#impressumContainer::-webkit-scrollbar-thumb,
#privacyContainer::-webkit-scrollbar-thumb {
    background: #FFCC19;
    border-radius: 10px;
}

@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }
}

#fullscreen {
    padding-bottom: 100px;
}


#fullscreen:fullscreen .game-container,
#fullscreen:fullscreen .intro-container {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreen:fullscreen canvas {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#fullscreenIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    background: transparent;
    border: none;
    cursor: pointer;
}

#fullscreenIcon_exit {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}
#restartBtn, #howToPlayBtn, #storyBtn, #impressumBtn, #privacyBtn {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #A0220A;
    border-radius: 10px;
    color: #FFCC19;
}

.canvas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

}

#fullscreen:fullscreen #startBtn {
    bottom: 20px;
    top: auto;
}

#fullscreen:fullscreen #restartBtn2, #fullscreen:fullscreen #homePage {
    bottom: 2px;
    top: auto;
}

#closeImpressum, #closePrivacy, #closeStory, #closeHowToPlay {
   margin-top: 65px;
    align-self: flex-start;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #A0220A;
    border-radius: 10px;
    color: #FFCC19;
}
